<html>
  <body>
    <table class="table">
      <tr style="height: 2rem">
        <td class="td" style="font-weight: 700">Vehicle Make</td>
        <td class="td">--Vehicle Make Data--</td>
        <td class="td" style="font-weight: 700">Model</td>
        <td class="td">--Model Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">Registration No.</td>
        <td class="td">--Registration No. Data--</td>
        <td class="td" style="font-weight: 700">Passengers</td>
        <td class="td">--Passengers Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">IDV of the Vehicle</td>
        <td class="td">--IDV Data--</td>
        <td class="td" style="font-weight: 700">Cubic Capacity(CC)</td>
        <td class="td">--CC Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">Manufacture Year</td>
        <td class="td">--Manufacture Year Data--</td>
        <td class="td" style="font-weight: 700">Zone</td>
        <td class="td">--Zone Data--</td>
      </tr>

      <tr style="height: 2rem"></tr>
    </table>

    <table class="table">
      <tr>
        <td class="td" style="font-weight: 700">Vehicle Make</td>
        <td class="td">--Vehicle Make Data--</td>
        <td class="td" style="font-weight: 700">Model</td>
        <td class="td">--Model Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">Registration No.</td>
        <td class="td">--Registration No. Data--</td>
        <td class="td" style="font-weight: 700">Passengers</td>
        <td class="td">--Passengers Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">IDV of the Vehicle</td>
        <td class="td">--IDV Data--</td>
        <td class="td" style="font-weight: 700">Cubic Capacity(CC)</td>
        <td class="td">--CC Data--</td>
      </tr>

      <tr>
        <td class="td" style="font-weight: 700">Manufacture Year</td>
        <td class="td">--Manufacture Year Data--</td>
        <td class="td" style="font-weight: 700">Zone</td>
        <td class="td">--Zone Data--</td>
      </tr>

      <tr style="height: 2rem"></tr>
    </table>
  </body>
  <style>
    body {
      padding: 5rem;
    }
    .table {
      width: 100%;
      border: 1.5px solid black;
      border-collapse: collapse;
    }
    .td {
      border: 1.5px solid black;
      border-collapse: collapse;
    }
  </style>
</html>
